@{
    ViewBag.Title = "Contáctanos";
}



<h2>@ViewBag.Title.</h2>

<address>
    Intelguasoft<br />
    Morales, Izabal, Guatemala.<br />
    <abbr title="Phone">Teléfono:</abbr>
    +502 47985318
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:intelgua@gmail.com">intelguasoft@gmail.com</a><br />
    <strong>Mercadotecnia:</strong> <a href="mailto:hnrdiaz@gmail.com">hnrdiaz@gmail.com</a>
</address>