@model SUD.Models.RegisterViewModel

@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html">
                <b>SUD</b>
            </a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Registrar nuevo usuario</p>
            <form action="../../index.html" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Nombre Completo">
                    <span class="fa fa-user  form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="fa fa-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Repetir Contraseña">
                    <span class="fa fa-sign-in form-control-feedback"></span>
                </div>
                <div class="row trans text-center">
                    <div class="col-xs-6">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the
                                <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="login.html" class="text-center">I already have a membership</a>
        </div>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
@section Scripts { @Scripts.Render("~/bundles/jqueryval")
@*<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });</script>*@
}