<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 0.0.12rc
    </div>
    <strong>Copyright &copy; 2004-2018 <a href="https://intelguasoft.com">IntelGUA Sofware Design</a>.</strong> All rights
    reserved.
</footer>