@using Microsoft.AspNet.Identity
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>SUD</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>SUD</b> Dashboard</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                        @*@Html.ActionLink(@Session["UserInfo"].ToString(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) />*@
                    </a>

                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                            <p>
                                @Session["UserInfo"]
                                <small>Member since Nov. 2004</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        @*<li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                              </li>*@
                        <!-- /.row -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">

                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar sesión</a>

                                    }
                                }
                            </div>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
