  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Omar Marroquin</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Database Administrator</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menú de navegación</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Gestión de usuarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/UserSuds"><i class="fa fa-user"></i> Usuarios</a></li>
                    <li><a href="~/Rols"><i class="fa fa-tags"></i> Perfiles </a></li>
                    <li><a href="~/RolPermissions"><i class="fa fa-key"></i> Permisos </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-line-chart"></i> <span>Gestión de ventas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Sales"><i class="fa fa-shopping-bag"></i> Ventas</a></li>
                    <li><a href="~/Clients"><i class="fa fa-address-card"></i> Clientes </a></li>
                    <li><a href="~/ClientRefunds"><i class="fa fa-rotate-left"></i> Devoluciones </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Gestión de compras</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-shopping-basket"></i> Compras</a></li>
                    <li><a href="#"><i class="fa fa-truck"></i> Proveedores </a></li>
                    <li><a href="#"><i class="fa fa-rotate-right"></i> Devoluciones </a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i> <span>Gestión de Bodegas</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Cellars"><i class="fa fa-cubes"></i> Bodegas</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calculator"></i> <span>Gestión de productos</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/Products"><i class="fa fa-cube"></i> Productos </a></li>
                            <li><a href="~/Measures"><i class="fa fa-balance-scale"></i> Medida </a></li>
                            <li><a href="#"><i class="fa fa-percent"></i> IVA </a></li>
                            <li><a href="~/Barcodes"><i class="fa fa-barcode"></i> Código de barras </a></li>
                            <li><a href="~/Departments"><i class="fa fa-sitemap"></i> Departamento </a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
