@model IEnumerable<SUD.Models.Sale>

@{
    ViewBag.Title = "Ventas";
    ViewBag.Message = "Lista de Ventas";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <!--aqui va el titulo de la pagina que se va a mostrar, como el siguiente ejemplo -->
        @ViewBag.Title - <small>@ViewBag.Message</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active">Ventas</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Detalle de las ventas</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove" disabled>
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <!-- Aca se incluye todo el contenido de la pagina que se desea mostrar -->
            <!-- por ejemplo el index/tabla de algun recurso -->

            <p>
                <a href="@Url.Action("Create")" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> Crear</a>
            </p>

            <table id="tblsales" class="table table-bordered table-striped text-center">
                <thead>
                    <tr>

                        <th class="text-center">ID</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Bodega</th>
                        <th class="text-center">Tipo de Documento</th>
                        <th class="text-center">No. de Documento</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
            </table>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <!-- Aca se incluye aquellas acciones relacionadas con lo antes mostrado -->
            <!-- por ejemplo botones de facturacion, exportar a excel/pdf o similares -->
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->

@section Scripts{

    <script>
        $(document).ready(function () {
            var selected = [];

            //$.fn.dataTable.moment('HH:mm MMM D, YY');
            //$.fn.dataTable.moment('dddd, MMMM Do, YYYY');

            $("#tblsales").DataTable({
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                },
                "ajax": {
                    "url": '@Url.Action("getsales", "Sales")',
                    "type": "POST",
                    "datatype": "json"
                    
                },
                //"rowCallback": function (row, data) {
                //    if ($.inArray(data.DT_RowId, selected) !== -1) {
                //        $(row).addClass('selected');
                //    }
                //},
                "columns": [
                    { "data": "SaleId", "name": "SaleId", "autoWidth": true },
                    { "data": "Datetime", "name": "Datetime", "autoWidth": true },
                    { "data": "Client.ComertialName", "name": "ComertialName", "autoWidth": true },
                    { "data": "Cellar.Description", "name": "Cellar", "autoWidth": true },
                    { "data": "AccountingDocument.Document", "name": "AccountingDocument", "autoWidth": true },
                    { "data": "DocumentNumber", "name": "DocumentNumber", "autoWidth": true },
                   
                    {
                        "data": function (data, type, row, meta) {
                            return '<a class="btn btn-warning fa fa-pencil-square-o" href="../Sales/Edit/' + data.SaleId + '"></a><a class="btn btn-info fa fa-info-circle" href="../Sales/Details/' + data.SaleId + '" ></a><a class="btn btn-danger fa fa-trash" href="../Sales/Delete/' + data.SaleId + '" ></a>';


                        }
                        , "autoWidth": true
                    }
                ]
                
            });
            
            //$('#tblPurchases tbody').on('click', 'tr', function () {
            //    var id = this.id;
            //    var index = $.inArray(id, selected);

            //    if (index === -1) {
            //        selected.push(id);
            //    } else {
            //        selected.splice(index, 1);
            //    }

            //    $(this).toggleClass('selected');
            //});
        });
       
    </script>
}

